fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
requests
python-multipart
email-validator
sendgrid
black #for linted code
#for testing
pytest
httpx
transformers>=4.30.0
torch>=2.0.0
sentencepiece
protobuf
